<div class="col-md-2">
	<ul class="list-group">

		<li class="list-group-item" style="height: 40px"><a href="" ng-click="templateVar = '/test1.tpl.html'"><span class="glyphicon glyphicon-play"></span>Live View</a><span class="badge">5</span></li>
		
		<li class="list-group-item" style="height: 40px"><a href="" ng-click="templateVar = '/test2.tpl.html'" ><span class="glyphicon glyphicon-stats"></span>Reports</a><span class="badge">5</span></li>
		
		<li class="list-group-item" style="height: 40px"><a href="" ng-click="templateVar = '/test3.tpl.html'"><span class="glyphicon glyphicon-cloud"></span>Cloud Manager</a><span class="badge">5</span></li>
		
	</ul>
</div>